@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/fontawesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cinzel:wght@800&family=Comforter&family=Dongle:wght@300&family=Fredoka&family=Montserrat:wght@800&family=Neonderthaw&family=Noto+Sans+JP:wght@700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&family=Sniglet&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&family=Roboto+Mono:wght@100&display=swap");

::-webkit-scrollbar {
  background-color: black;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: white;
}
