@media (min-width: 1024px) {
  li {
    list-style-type: none;
  }
  header {
    width: 100%;
    position: absolute;
    z-index: 100;
    display: flex;
  }
  #portfolio {
    font-family: Poppins;
    padding-left: 10px;
    font-size: xx-large;
    color: white;
  }
  #nav1 {
    width: 100%;
    justify-content: right;
    margin-right: 30px;
    display: flex;
    padding: 10px;
    gap: 50px;
  }
  .header_nav1 {
    font-family: Dongle;
    font-weight: bolder;
    font-size: 20px;
    }
}
