@media (min-width: 1024px) {
  body {
    background-color: black;
    margin: 0 auto;
  }
  a {
    color: unset;
    text-decoration: none;
    cursor: pointer;
  }
  * {
    box-sizing: border-box;
  }
  :root {
    --bg: url("https://w.wallhaven.cc/full/yj/wallhaven-yjq3ox.jpg");
    --bgg: url("https://w.wallhaven.cc/full/2k/wallhaven-2k9ozm.png");
    --bggg: url(img/bgg.jpg);
    --primary: rgba(255, 200, 0, 0.5);
  }

  main {
    position: absolute;
    width: 100%;
  }
  #sec1 {
    width: 100%;
    height: 775px;
    background-image: var(--bggg);
    background-size: cover;
    background-attachment: fixed;
  }
  #sec2 {
    width: 100%;
    height: 775px;
    background-image: var(--bg);
    background-size: cover;
    background-attachment: fixed;
    padding: 10px;
  }
  #sec3 {
    width: 100%;
    height: 775px;
    background-image: var(--bgg);
    background-size: cover;
    background-attachment: fixed;
  }

  #position1 {
    padding: 20px;
    align-items: baseline;
  }
  #position1 > p {
    font-size: 90px;
    font-family: sans-serif;
    font-weight: bolder;
    width: 50%;
    color: white;
    margin: 200px 0px 0px 20px;
  }
  #position1 > p > button {
    width: fit-content;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bolder;
    background-color: var(--primary);
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  #template{
    color: rgba(255, 200, 0, 1);
    text-align: center;
    font-family: Poppins;
    font-size: xx-large;
  }
  #template > sub{
    font-size: 10px;
    color: white;
  }
  
}
